[Desktop Entry]
Version=1.0
Type=Application
Name=MX Test Installer
Comment=
Exec=mx-test-installer
Icon=system
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System
Name[en_US.UTF-8]=MX Test Installer
