[Desktop Entry]
Version=1.0
Name=MX Test Repo Installer
Name[ca]=MX Test Repo Installer
Name[de]=MX Test Repo Installer
Name[el]=MX Test Repo Installer
Name[es]=MX Instalador del repositorio de pruebas
Name[fr]=MX Installateur des paquets du dépôt de test
Name[it]=MX Installare dal Repo Test
Name[ja]=MX テストリポジトリインストーラ
Name[nl]=MX Test Pakketbron Installeerder
Name[pt]=MX_Instalador do Repositório “Teste”
Name[ru]=MX Установщик тестового репозитория
Name[sv]=MX Test Repo Installerare
Comment=Install apps directly from MX Test Repository
Comment[ca]=Instal·lar directament des del dipòsit MX Test 
Comment[de]=Installiere Apps direkt aus der MX Test Repository
Comment[el]=Εγκατάσταση εφαρμογών απευθείας από MX Test Repository
Comment[es]=Instala aplicaciones directamente del repositorio de pruebas (test) MX
Comment[fr]=Installer les applications directement du dépôt de test MX
Comment[it]=Installare applicazioni direttamente dal Repository Test di MX
Comment[ja]=MX テストリポジトリから直接アプリケーションをインストール
Comment[nl]=Installeer apps rechtstreeks vanuit de MX Test Pakketbron
Comment[pt]=Instalar aplicações directamente do repositório MX Test
Comment[ru]=Устанавливает приложения непосредственно из тестового репозитория MX
Comment[sv]=Installera program direkt från MX Test Förråd
Exec=su-to-root -X -c mx-test-repo-installer
Icon=tri
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Software;

