[Desktop Entry]
Version=1.0
Type=Application
Name=MX Test Installer
Comment=Install apps directly from MX Test Repository
Exec=mx-test-installer
Icon=application-x-deb
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System
Name[en_US.UTF-8]=MX Test Installer
