Source: mx-test-repo-installer
Section: admin
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: qt5-qmake,
	debhelper (>=7.0.50~)
Standards-Version: 3.9.5
Vcs-Git: https://github.com/mx-linux/mx-test-installer

Package: mx-test-repo-installer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mx-viewer
Description: mx-test-repo-installer
 App for installing directly from MX Test Repo
